.sponsor-info {
    font-size: 1.2rem;
    color: #f7ede2;
    margin-bottom: 10px;
}

.sponsor-name {
    font-weight: bold;
    color: #f6bd60;
}

.sponsor-price {
    color: #f6bd60;
    font-weight: bold;
}

.sponsor-date {
    font-size: 1.1rem;
    color: #f7ede2;
    margin-bottom: 20px;
}

.countdown {
    color: #f6bd60;
    font-weight: bold;
}