@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';

@import './header';
@import'./suggestion';
@import './formValidation';

main {
    height: calc(100vh - 80px);
    margin-top: 80px;
    overflow: auto;
}

label {
    margin-top: 5px;
    font-weight: bold;
}

.w_100 {
    width: 100px;
    height: auto;
}

.border-active {
    box-shadow: none !important;
}

.homepage-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}